@{
    ViewData["Title"] = "Admin";
    var CurrentUsername = Context.Session.GetString("CurrentUsername");
    var AccessPlant = Context.Session.GetString("AccessPlant");
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - WebApp_StockFixx</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/WebApplication_StockDataFixx.styles.css" asp-append-version="true" />

        <!--Cdn Files-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" />
        <script src="~/js/report.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    
            <!-- Tambahkan referensi ke file CSS DataTables -->
            <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css" />
            <link rel="stylesheet" href="/DataTables/datatables.css" />

            <script src="/DataTables/datatables.js"></script>
            <!-- Tambahkan referensi ke file JavaScript DataTables -->
            <script src="~/js/jquery.dataTables.js"></script>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.css" />
            <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>

    @*========================== SCRIPT INTERNAL JS ===================================*@
        <script>
            function confirmLogout() {
                // Tampilkan popup konfirmasi
                document.getElementById("popup-logout").style.display = "block";
            }

            function closePopup() {
                // Tutup popup
                document.getElementById("popup-logout").style.display = "none";
            }

            function logout() {
                // Redirect ke halaman logout jika user mengkonfirmasi logout
                window.location.href = '@Url.Action("Logout", "Home")';
            }
        </script>
    @*========================== END SCRIPT INTERNAL JS ===================================*@
    </head>

    @*baru*@
    <body>

        @*Popup Logout*@
        <div class="popup-logout" id="popup-logout">
            <div class="popup-content-logout">
                <p id="popup-message" style="font-weight: 800;margin-top: 15px;">Are you sure you want to logout?</p>
                <button class="close-button-logout" onclick="logout()">Logout</button>
                <button class="close-button-cancel" onclick="closePopup()">Cancel</button>
            </div>
        </div>


        <div class="wrapper">
            <div class="section">
                <div class="top_navbar">
                    <div class="hamburger">
                        <a href="#">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                    <div class="nav-logout">
                        <a href="javascript:void(0);" onclick="confirmLogout();">
                            <i class='bx bx-log-out nav_icon'></i>
                            <span class="nav_name">Logout</span>
                        </a>
                    </div>
                </div>
                <div class="content">
                    @RenderBody()
                </div>

                <footer class="border-top footer" style="background-color: #1D5D9B;">
                    <div class="container">
                        <p class="footer-p"><a src="https://www.pens.ac.id/">&copy; copyright 2023 - ISC X PENS Surabaya -</a></p>
                    </div>
                </footer>

            </div>

            <div class="sidebar">
                <div class="headerLogo">
                    <a asp-controller="Admin" asp-action="DashboardAdmin">
                        <img src="/images/img/LogoStockTaking2.svg" />
                    </a>
                </div>
                <div class="profile">
                    <img src="/images/img/gambarAdmin.png" alt="profile_picture">
                    @using Microsoft.AspNetCore.Http;
                    <h5>@CurrentUsername</h5>
                    <p>@AccessPlant</p>
                </div>
                <ul id="nav_accordion">
                    <li>
                        <a asp-area="" asp-controller="Admin" asp-action="DashboardAdmin">
                            <span class="icon"><i class="fas fa-th-list"></i></span>
                            <span class="item">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Admin" asp-action="AddUser">
                            <span class="icon"><i class="fas fa-plus-square"></i></span>
                            <span class="item">Add User</span>
                        </a>
                    </li>  
                    <li>
                        <a asp-area="" asp-controller="Admin" asp-action="AllView">
                            <span class="icon"><i class="fas fa-file"></i></span>
                            <span class="item">All View</span>
                        </a>
                    </li>
                </ul>
                <div class="nav-bottom-brand">
                    <h3>Panasonic</h3>
                </div>
            </div>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

    </body>
</html>
