@{
    ViewData["Title"] = "Warehouse";
    var CurrentUsername = Context.Session.GetString("CurrentUsername");
    var AccessPlant = Context.Session.GetString("AccessPlant");
    var LevelId = Context.Session.GetInt32("LevelId");
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - WebApp_StockFixx</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/WebApplication_StockDataFixx.styles.css" asp-append-version="true" />

        <!--Cdn Files-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> *@
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" />
        @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" /> *@
        <script src="~/js/report.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


        <!-- Tambahkan referensi ke file CSS DataTables -->
        <link rel="stylesheet" type="text/css" href="~/css/jquery.dataTables.css" />
        <link rel="stylesheet" href="/DataTables/datatables.css" />

        <script src="/DataTables/datatables.js"></script>
        <!-- Tambahkan referensi ke file JavaScript DataTables -->
        <script src="~/js/jquery.dataTables.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>


        <!-- Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    @*========================== SCRIPT INTERNAL JS ===================================*@
        <script>

            // Jika menggunakan halaman All VIEW
            //function confirmLogout() {
            //    var levelId = @LevelId; // Get the levelId from ViewBag
            //    var logoutText = document.getElementById("logout-text");

            //    // Check the levelId and update the button and behavior accordingly
            //    if (levelId == 0) {
            //        // If levelId is 0, change the button text and redirect without confirmation
            //        logoutText.innerText = "Back To Admin";
            //        window.location.href = '@Url.Action("AllView", "Admin")';
            //    } else {
            //        // For other levelIds, show the logout confirmation popup
            //        document.getElementById("popup-logout").style.display = "block";
            //    }
            //}

            function confirmLogout() {
                // Tampilkan popup konfirmasi
                document.getElementById("popup-logout").style.display = "block";
            }

            function closePopup() {
                // Tutup popup
                document.getElementById("popup-logout").style.display = "none";
            }

            function logout() {
                // Redirect ke halaman logout jika user mengkonfirmasi logout
                window.location.href = '@Url.Action("Logout", "Home")';
            }
        </script>
    @*========================== END SCRIPT INTERNAL JS ===================================*@
    </head>

    <body>
        @*Popup Logout*@
        <div class="popup-logout" id="popup-logout">
            <div class="popup-content-logout">
                <p id="popup-message" style="font-weight: 800;margin-top: 15px;">Are you sure you want to logout?</p>
                <button class="close-button-logout" onclick="logout()">Logout</button>
                <button class="close-button-cancel" onclick="closePopup()">Cancel</button>
            </div>
        </div>

        <div class="wrapper">
            <div class="section">
                <div class="top_navbar">
                    <div class="hamburger">
                        <a href="#">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                    <div class="nav-logout">
                        <a href="javascript:void(0);" onclick="confirmLogout();">
                            <i class='bx bx-log-out nav_icon'></i>
                            <span id="logout-text" class="nav_name">Logout</span>
                        </a>
                    </div>
                </div>
                <div class="content">
                    @RenderBody()
                </div>

                <footer class="border-top footer" style="background-color: #1D5D9B;">
                    <div class="container">
                        <p class="footer-p"><a src="https://www.pens.ac.id/">&copy; copyright 2023 - ISC X PENS Surabaya -</a></p>
                    </div>
                </footer>
            </div>

            <div class="sidebar">
                <div class="headerLogo">
                    <a asp-controller="Warehouse" asp-action="DashboardWarehouse">
                        <img src="/images/img/LogoStockTaking2.svg" />
                    </a>
                </div>
                <div class="profile">
                    <img src="/images/img/gambarWrh.png">
                    @using Microsoft.AspNetCore.Http;
                    <h5>@CurrentUsername</h5>
                    <p>@AccessPlant</p>
                </div>
                <ul id="nav_accordion">
                    <li>
                        <a asp-area="" asp-controller="Warehouse" asp-action="DashboardWarehouse">
                            <span class="icon"><i class="fas fa-th-list"></i></span>
                            <span class="item">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Warehouse" asp-action="UploadDataWarehouse">
                            <span class="icon"><i class="fas fa-plus-square"></i></span>
                            <span class="item">Upload Files</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Warehouse" asp-action="ReportWarehouse">
                            <span class="icon"><i class="fas fa-file"></i></span>
                            <span class="item">Report</span>
                        </a>
                    </li>
                    <li>
                        @*class="disabled-link"*@
                        <a asp-area="" asp-controller="Warehouse" asp-action="DownloadPageWrh" class="">
                            <span class="icon"><i class="fas fa-file-download"></i></span>
                            <span class="item">DownloadPage</span>
                        </a>
                    </li>
                </ul>
                <div class="nav-bottom-brand">
                    <h3>Panasonic</h3>
                </div>
            </div>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
</html>

