@model WebApplication_StockDataFixx.Models.Domain.UserTb

@{
    ViewBag.Title = "Login";
    Layout = null; // Tidak menggunakan layout
}

@*<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        background-color: #002B6A;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .login-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-image img {
        margin-top: 30px;
        width: 600px;
        height: 600px;
    }

    .login-card {
        position: absolute;
        top: 50%;
        transform: translateY(-30%);
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(7px);
        padding: 60px;
        font-weight: 800;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 350px;
        width: 100%;
    }

    .login-brand {

        display: flex;
        justify-content: center;
        margin-bottom: -80px;
        margin-top: -0px;
        text-align: center;
    }

        .login-brand h1 {
            font-size: 50px;
            color: white;
            font-weight: 500;
            font-family: "Arial Black";
            margin-top: 60px;
        }

            .login-brand h3{
            font-size: 40px;
            color: white;
            font-weight: 500;
            font-family: "Arial Black";
            }

    h2 {
        text-align: center;
    }

    /* Custom style for input elements */
    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px 20px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 10px; /* Rounded corners for input elements */
        font-size: 16px;
    }

    input[type="submit"] {
        background-color: #002B6A;
        color: #ffffff;
        border: none;
        padding: 15px 25px;
        border-radius: 10px; /* Rounded corners for the button */
        cursor: pointer;
        font-size: 16px;
    }

        input[type="submit"]:hover {
            background-color: #002B6A;
        }

    p {
        color: #ff0000;
        text-align: center;
    }
</style>

<div class="login-brand">
    <h1>Panasonic<br />Stock Data App &copy;2023</h1>
</div>


<div class="login-image">
    <img src="~/images/img/LoginScreen.png"/>
</div>
*@

@*main login*@
@*<div class="login-card">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div>
            @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "input-rounded", placeholder = "User ID" } })
        </div>

        <div>
            @Html.PasswordFor(model => model.Password, new { @class = "input-rounded", placeholder = "Password" })
        </div>

        <input type="submit" value="Login" />
        <p>@ViewBag.ErrorMessage</p>
    }
</div>*@





    @*NEW KAE TAPI*@
    @*<!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/css/LoginPage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />

    <script src="js/LoginPage.js"></script>

    <div class="wrapper" style="background-image: url('/images/img/productionAllView.jpeg');">
        <div class="inner">
            <div class="image-holder">
                <img src="/images/img/warehouseAllView.jpeg" alt="">
            </div>
            @using (Html.BeginForm())
            {
            <form>

                
                <h3>LOGIN</h3>
                
                <div class="form-wrapper">
                        @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control", placeholder = "User ID"} })
                    <i class="zmdi zmdi-account"></i>
                </div>

                    <div class="form-wrapper">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password", id = "password" })
                        <!-- Menggunakan ikon mata dari Google Material Icons -->
                        <i class="bi bi-eye-slash" id="togglePassword"></i>
                    </div>

              
                <input class="submit" type="submit" value="Login"/>
                    <p class="ErrorMsg">@ViewBag.ErrorMessage</p>
            </form>
            }
        </div>
    </div>*@

    @*<script>
                const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);

            // toggle the icon
            this.classList.toggle("bi-eye");
        });

        // prevent form submit
        const form = document.querySelector("form");
        form.addEventListener('submit', function (e) {
            e.preventDefault();
        });
    </script>*@



@*============= FIIIIIIIIIIIIIIIIIIIIIIXXXX =========================*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/LoginPage.css">
    <title>LOGIN STOCK TAKING WEB APP</title>



</head>
<body>

    <!----------------------- Main Container -------------------------->

    <div class="container d-flex justify-content-center align-items-center min-vh-100">

        <!----------------------- Login Container -------------------------->

        <div class="row border rounded-5 p-3 bg-white shadow box-area">

            <!--------------------------- Left Box ----------------------------->

            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" >
                <div class="featured-image mb-3">
                    <img src="/images/img/LoginBg.png" class="img-fluid" style="width: 550px;">
                </div>
                @*<p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Be Verified</p>
                <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Join experienced Designers on this platform.</small>
            *@
            </div>

            <!-------------------- ------ Right Box ---------------------------->

            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <h2>Hello,Again</h2>
                        <p>We are happy to have you back.</p>
                    </div>
                    @using (Html.BeginForm())
                    {
                    <div class="input-group mb-3">
                        @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control form-control-lg bg-light fs-6", placeholder = "User ID"} })
                        @*<input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Email address">*@
                    </div>
                    <div class="input-group mb-1">
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-lg bg-light fs-6", placeholder = "Password", id = "password" })
                        @*<input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Password">*@
                    </div>
                    <div class="input-group mb-5 d-flex justify-content-between">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="formCheck">
                            <label for="formCheck" class="form-check-label text-secondary"><small>Remember Me</small></label>
                        </div>
                            @*<div class="forgot">
                            <small><a href="#">Forgot Password?</a></small>
                        </div>*@
                    </div>
                    <div class="input-group mb-3">
                        <button type="submit" class="btn btn-lg btn-primary w-100 fs-6">Login</button>
                    </div>
                        
                    
                   @* <div class="input-group mb-3">
                        <button class="btn btn-lg btn-light w-100 fs-6"><img src="images/google.png" style="width:20px" class="me-2"><small>Sign In with Google</small></button>
                    </div>*@
                    <div class="row">
                        <p class="ErrorMsg">@ViewBag.ErrorMessage</p>
                    </div>
                    }
                    <div class="row">
                        <div class="footForm-login">
                            <p>&copy copyright 2023 ISC X PENS </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>